.button {
  inline-size: 9.5rem;
  block-size: 2rem;
  text-transform: uppercase;
  font: var(--buton);
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 70px;
  color: var(--white);
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}

.button.is-primary {
  background-color: var(--primary);
}

.button:hover:is([class*='is-']) {
  box-shadow: 0 8px 8px rgba(0,0,0,.3);
}