@import './playlist-list.css';
@import './search.css';
@import './navigaton.css';
@import './header.css';
@import './sticky.css';

.page {
  padding-inline-start: 2em;
  padding-inline-end: 2em;
  padding-block-end: 2em;
}

.page-block {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.page .header {
  margin-block-end: 1rem;
  margin-inline-start: -1.5rem;
  margin-inline-end: -1.5rem;
}

.is-pageAlbum {
  background: linear-gradient(
  181.17deg
  , rgba(47, 47, 47, 0) -35.3%, var(--gray50) 66.2%), url(./../images/imploding-the-mirage-back.png);
      background-size: cover;
}